* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background: #ffffff;
  font-family: "Roboto";
  font-size: 18px;
  background: -webkit-gradient(linear, left top, right top, from(#69b7eb), color-stop(#b3dbd3), to(#f4d6db));
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

.container {
  overflow: hidden;
  max-width: 350px;
  margin: 0 auto;
  min-height: 533px;
  position: relative;
}

.main.blur {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.main {
  background: #ffffff;
  padding: 15px;
  width: 100%;
}

.buttons {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7px;
}
.buttons_btnSettings {
  padding: 0px 8px;
  max-width: 98px;
  height: 32px;
}
.buttons_logInOut {
  padding: 0px 8px;
  max-width: 66px;
  height: 32px;
}

.btn {
  background: #ffffff;
  border: 1px solid black;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}

.btn:hover {
  background: #969696;
}

.chat {
  max-width: 100%;
  height: 437px;
  border: 1px solid #000000;
  padding: 8px;
  overflow: scroll;
  margin-bottom: 10px;
}

.chat::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.chatBox {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.chatBox__nameInterlocutor {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 4px;
}
.chatBox__massage-block {
  border-radius: 5px;
  max-width: 90%;
  margin-bottom: 8px;
  padding: 6px 12px;
  background: #e5e5e5;
}
.chatBox__text {
  word-break: break-all;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 4px;
}
.chatBox__time {
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
}

.interlocutor {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: #b3dbd3;
}

.my {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #f4d6db;
}

.input {
  border: 1px solid black;
  width: 100%;
  padding: 0px 8px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  min-height: 32px;
  padding: 0px 7px;
}

.sendMessage__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sendMessage__input:focus {
  border: 3px solid #2491eb;
}
.sendMessage__btn {
  width: 38px;
  padding: 0px 8px;
  min-height: 32px;
  margin-left: 8px;
}

.cross {
  display: inline-block;
  padding: 3px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  right: 11px;
  top: 13px;
  opacity: 0.45;
  font-size: 24px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

.cross:hover {
  color: #636363;
}

.settings {
  display: none;
}

.settings.active > :first-child {
  margin-bottom: 16px;
}

.settings.active > :not(:last-child) {
  margin-bottom: 12px;
}

.pop-up_window {
  border: 1px solid black;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 319px;
  background: #ffffff;
  width: 80%;
  padding: 16px 14px;
}

.settings.active {
  display: block;
  padding-top: 50px;
}

.title {
  position: absolute;
  left: 14px;
  top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.subTitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}

.nameChoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nameChoice__btn {
  margin-left: 8px;
  width: 38px;
  height: 32px;
}

.logWindow {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.LogInOut {
  display: none;
}
.LogInOut__subTitle {
  margin-bottom: 3px;
}

.LogInOut.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.authorization__email {
  margin-bottom: 7px;
}
.authorization__btn {
  min-height: 34px;
  width: 120px;
}

.enterCode {
  display: none;
}
.enterCode__subTitle {
  margin-bottom: 3px;
}

.confirmationForm__code {
  margin-bottom: 8px;
}
.confirmationForm__btn {
  padding: 0px 8px;
  width: 62px;
  height: 33px;
}

.enterCode.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}