@import "nulling_styles.scss";

body {
    background: #ffffff;
    font-family: "Roboto";
    font-size: 18px;
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

.main.blur {
    transition: all 0.3s ease-in-out;
    filter: blur(3px);
}

.main {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 350px;
    min-height: 533px;
    background: #ffffff;
    padding: 15px;

    @media screen and (max-width:480px) {
        min-height: 100vh;
    }
}

.buttons {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;

    &_btnSettings {
        padding: 0px 8px;
        max-width: 98px;
        height: 32px;
    }

    &_logInOut {
        padding: 0px 8px;
        max-width: 66px;
        height: 32px;
    }
}

.btn {
    background: #ffffff;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    transition: 0.2s all ease;
}

.btn:hover {
    background: #969696;
}

.chat {
    max-width: 100%;
    height: 437px;
    border: 1px solid #000000;
    padding: 8px;
    overflow-y: scroll;
    margin-bottom: 10px;
    flex: 1 1 auto;
}
::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 20px;
}
.chat::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(240, 240, 240)
}


.chatBox {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;

    &__nameInterlocutor {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        margin-bottom: 4px;
    }

    &__massage-block {
        border-radius: 5px;
        max-width: 90%;
        margin-bottom: 8px;
        padding: 6px 12px;
        background: #e5e5e5;
    }

    &__text {
        word-break: break-all;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 4px;
    }

    &__time {
        font-family: Roboto;
        font-size: 14px;
        font-style: italic;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: right;
    }
}

.interlocutor {
    align-self: flex-start;
    background: #b3dbd3;
}

.my {
    align-self: flex-end;
    background: #f4d6db;
}

.input {
    border: 1px solid black;
    width: 100%;
    padding: 0px 8px;
    transition: 0.3s all ease;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    min-height: 32px;
    padding: 0px 7px;
}

.sendMessage {
    &__bar {
        display: flex;
    }

    &__input:focus {
        border: 3px solid #2491eb;
    }

    &__btn {
        width: 38px;
        padding: 0px 8px;
        min-height: 32px;
        margin-left: 8px;
    }
}

.cross {
    display: inline-block;
    padding: 3px;
    cursor: pointer;
    transform: rotate(-45deg);
    user-select: none;
    position: absolute;
    right: 11px;
    top: 13px;
    opacity: 0.45;
    font-size: 24px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
}

.cross:hover {
    color: #636363;
}

.settings.active> :first-child {
    margin-bottom: 16px;
}

.settings.active> :not(:last-child) {
    margin-bottom: 12px;
}

.pop-up__window {
    border: 1px solid black;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 35%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 319px;
    background: #ffffff;
    width: 270px;
    padding: 16px 14px;
}

.title {
    position: absolute;
    left: 14px;
    top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.subTitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.nameChoice {
    display: flex;

    &__btn {
        margin-left: 8px;
        width: 38px;
        height: 32px;
    }
}

.logWindow {
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.authorization {
    &__email {
        margin-bottom: 7px;
    }

    &__btn {
        min-height: 34px;
        width: 120px;
    }
}
.confirmationForm {
    &__code {
        margin-bottom: 8px;
    }

    &__btn {
        padding: 0px 8px;
        width: 62px;
        height: 33px;
    }
}
.settings {
    display: block;
    padding-top: 50px;
    opacity: 0;
    visibility: hidden;
}
.settings.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
.LogInOut {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    &__subTitle {
        margin-bottom: 3px;
    }
}
.LogInOut.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
.enterCode {
    display: flex;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    &__subTitle {
        margin-bottom: 3px;
    }
}
.enterCode.active {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
}